# Polars Notebook â€” Unsolved

## 0. Setup

Welcome to **FastCart**, a fast-growing e-commerce startup ğŸš€  
Youâ€™ve just joined the analytics team, and this notebook will guide you through your
first exploratory tasks using **Polars**.

A synthetic dataset of **100,000 orders** has been created for you.


CheatSheet: https://franzdiebold.github.io/polars-cheat-sheet/Polars_cheat_sheet.pdf

In [1]:
!pip install polars

Requirement already satisfied: polars in /home/dalpenyes/.pyenv/versions/3.10.13/lib/python3.10/site-packages (1.37.1)
Requirement already satisfied: polars-runtime-32==1.37.1 in /home/dalpenyes/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from polars) (1.37.1)

[notice] A new release of pip is available: 23.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [2]:
import polars as pl
import polars.selectors as cs

In [3]:
pl.__version__

'1.37.1'

## 1. Creating Your First Polars DataFrame

In [4]:
import polars as pl
import random

# ----------------------------
# Create full synthetic dataset
# ----------------------------
N = 100_000

cities = ["Valencia", "Madrid", "Sevilla", "Bilbao", "Barcelona"]
categories = ["Electronics", "Fashion", "Home", "Sports", "Toys"]

df = pl.DataFrame({
    "order_id": list(range(1, N + 1)),
    "user_id": [random.randint(1, 1200) for _ in range(N)],
    "value": [random.randint(5, 10000) for _ in range(N)],
    "units": [random.randint(1, 5) for _ in range(N)],
    "city": [random.choice(cities) for _ in range(N)],
    "category": [random.choice(categories) for _ in range(N)],
    "is_active": [random.choice([True, False]) for _ in range(N)],
    "has_discount": [random.choice([True, False]) for _ in range(N)],
})

In [5]:
df.head()

shape: (5, 8)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ order_id â”† user_id â”† value â”† units â”† city      â”† category    â”† is_active â”† has_discount â”‚
â”‚ ---      â”† ---     â”† ---   â”† ---   â”† ---       â”† ---         â”† ---       â”† ---          â”‚
â”‚ i64      â”† i64     â”† i64   â”† i64   â”† str       â”† str         â”† bool      â”† bool         â”‚
â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1        â”† 70      â”† 2572  â”† 3     â”† Barcelona â”† Fashion     â”† false     â”† false        â”‚
â”‚ 2        â”† 403     â”† 2300  â”† 4     â”† Madrid    â”† Sports      â”† true      â”† true         â”‚
â”‚ 3        â”† 773     â”† 2759  â”† 1     â”† Valencia  â”† Electronics â”† true      â”† false        â”‚
â”‚ 4        â”† 789     â”† 7714  â”† 1     â”† Valencia  â”† Fashion     â”† true      â”† true         â”‚
â”‚ 5        â”† 82      â”† 370   â”† 1     â”† Valencia  â”† Toys        â”† false     â”† false        â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

### Exercise â€” Selecting key fields

Management only wants to see:
- `order_id`
- `city`
- `value`
- `units`

Tasks:
1. Select these columns
2. Select ONLY numeric columns (dynamic selection)

In [6]:
# Task 1: direct selection
print(df.select(["order_id", "city", "value", "units"]).head())

# Task 2: select numeric columns
print(df.select(cs.numeric()).head())

shape: (5, 4)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ order_id â”† city      â”† value â”† units â”‚
â”‚ ---      â”† ---       â”† ---   â”† ---   â”‚
â”‚ i64      â”† str       â”† i64   â”† i64   â”‚
â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•¡
â”‚ 1        â”† Barcelona â”† 2572  â”† 3     â”‚
â”‚ 2        â”† Madrid    â”† 2300  â”† 4     â”‚
â”‚ 3        â”† Valencia  â”† 2759  â”† 1     â”‚
â”‚ 4        â”† Valencia  â”† 7714  â”† 1     â”‚
â”‚ 5        â”† Valencia  â”† 370   â”† 1     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜
shape: (5, 4)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ order_id â”† user_id â”† value â”† units â”‚
â”‚ ---      â”† ---     â”† ---   â”† ---   â”‚
â”‚ i64      â”† i64     â”† i64   â”† i64   â”‚
â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•¡
â”‚ 1        â”† 70      â”† 2572  â”† 3     â”‚
â”‚ 2        â”† 403     â”† 2300  â”† 4     â”‚
â”‚ 3        â”† 773     â”† 2759  â”† 1     â”‚
â”‚ 4        â”† 789     â”† 7714  â”† 1     â”‚
â”‚ 5        â”† 82      â”† 370   â”† 1     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

### Exercise â€” Filtering high-value orders

Find all orders with:
- value > 9000

Then show only: city, value, category

ğŸ’¡ *Hint:* combine `.filter()` + `.select()`

In [7]:
# Find all orders with value > 9000, show only city, value, category
print(df.filter(pl.col("value") > 9000).select(["city", "value", "category"]).head())

shape: (5, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ city      â”† value â”† category    â”‚
â”‚ ---       â”† ---   â”† ---         â”‚
â”‚ str       â”† i64   â”† str         â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Madrid    â”† 9785  â”† Electronics â”‚
â”‚ Madrid    â”† 9546  â”† Toys        â”‚
â”‚ Sevilla   â”† 9321  â”† Sports      â”‚
â”‚ Barcelona â”† 9519  â”† Electronics â”‚
â”‚ Madrid    â”† 9458  â”† Fashion     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

### Exercise â€” Classifying orders by size

Create a new column `size_label`:

- "large"  â†’ value > 7000  
- "medium" â†’ 3000 < value â‰¤ 7000  
- "small"  â†’ otherwise  

ğŸ’¡ Hint: use `pl.when().then().otherwise()`

In [8]:
# Create size_label column
df_with_size = df.with_columns(
    pl.when(pl.col("value") > 7000).then(pl.lit("large"))
    .when(pl.col("value") > 3000).then(pl.lit("medium"))
    .otherwise(pl.lit("small"))
    .alias("size_label")
)
print(df_with_size.select(["value", "size_label"]).head(10))

shape: (10, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ value â”† size_label â”‚
â”‚ ---   â”† ---        â”‚
â”‚ i64   â”† str        â”‚
â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 2572  â”† small      â”‚
â”‚ 2300  â”† small      â”‚
â”‚ 2759  â”† small      â”‚
â”‚ 7714  â”† large      â”‚
â”‚ 370   â”† small      â”‚
â”‚ 1280  â”† small      â”‚
â”‚ 4408  â”† medium     â”‚
â”‚ 456   â”† small      â”‚
â”‚ 2488  â”† small      â”‚
â”‚ 8927  â”† large      â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

### Mini-exercise â€” Pipeline

Tasks:
1. Select city, value, units
2. Filter units â‰¥ 3
3. Add value_per_unit = value / units

In [9]:
# Pipeline: Select, Filter, Add column
pipeline_result = (
    df.select(["city", "value", "units"])
    .filter(pl.col("units") >= 3)
    .with_columns((pl.col("value") / pl.col("units")).alias("value_per_unit"))
)
print(pipeline_result.head())

shape: (5, 4)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ city      â”† value â”† units â”† value_per_unit â”‚
â”‚ ---       â”† ---   â”† ---   â”† ---            â”‚
â”‚ str       â”† i64   â”† i64   â”† f64            â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Barcelona â”† 2572  â”† 3     â”† 857.333333     â”‚
â”‚ Madrid    â”† 2300  â”† 4     â”† 575.0          â”‚
â”‚ Bilbao    â”† 1280  â”† 4     â”† 320.0          â”‚
â”‚ Sevilla   â”† 2488  â”† 3     â”† 829.333333     â”‚
â”‚ Valencia  â”† 8927  â”† 4     â”† 2231.75        â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

### Exercise â€” Sorting

1. Sort by value (ascending)
2. Sort by units (descending)
3. Sort by city, then value

In [10]:
# Sorting exercises
print("Sorted by value (asc):")
print(df.sort("value").head(3))

print("\nSorted by units (desc):")
print(df.sort("units", descending=True).head(3))

print("\nSorted by city, then value:")
print(df.sort(["city", "value"]).head(3))

Sorted by value (asc):
shape: (3, 8)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ order_id â”† user_id â”† value â”† units â”† city      â”† category â”† is_active â”† has_discount â”‚
â”‚ ---      â”† ---     â”† ---   â”† ---   â”† ---       â”† ---      â”† ---       â”† ---          â”‚
â”‚ i64      â”† i64     â”† i64   â”† i64   â”† str       â”† str      â”† bool      â”† bool         â”‚
â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 10938    â”† 898     â”† 5     â”† 5     â”† Sevilla   â”† Toys     â”† false     â”† false        â”‚
â”‚ 37530    â”† 615     â”† 5     â”† 4     â”† Sevilla   â”† Home     â”† true      â”† true         â”‚
â”‚ 43718    â”† 1108    â”† 5     â”† 1     â”† Barcelona â”† Fashion  â”† false     â”† false        â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Sorted by units (desc):
shape: (3, 8)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ order_id â”† user_id â”† value â”† units â”† city   â”† category    â”† is_active â”† has_discount â”‚
â”‚ ---      â”† ---     â”† ---   â”† ---   â”† ---    â”† ---         â”† ---       â”† ---          â”‚
â”‚ i64      â”† i64     â”† i64   â”† i64   â”† str    â”† str         â”† bool      â”† bool         â”‚
â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 12       â”† 1190    â”† 2651  â”† 5     â”† Madrid â”† Electronics â”† false     â”† true         â”‚
â”‚ 13       â”† 1028    â”† 5196  â”† 5     â”† Madrid â”† Home        â”† true      â”† true         â”‚
â”‚ 15       â”† 159     â”† 9546  â”† 5     â”† Madrid â”† Toys        â”† false     â”† false        â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Sorted by city, then value:
shape: (3, 8)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ order_id â”† user_id â”† value â”† units â”† city      â”† category    â”† is_active â”† has_discount â”‚
â”‚ ---      â”† ---     â”† ---   â”† ---   â”† ---       â”† ---         â”† ---       â”† ---          â”‚
â”‚ i64      â”† i64     â”† i64   â”† i64   â”† str       â”† str         â”† bool      â”† bool         â”‚
â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 43718    â”† 1108    â”† 5     â”† 1     â”† Barcelona â”† Fashion     â”† false     â”† false        â”‚
â”‚ 72048    â”† 732     â”† 5     â”† 4     â”† Barcelona â”† Electronics â”† false     â”† false        â”‚
â”‚ 18290    â”† 471     â”† 6     â”† 4     â”† Barcelona â”† Sports      â”† false     â”† true         â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

### Exercise â€” Dataset overview

1. Unique product categories
2. Describe numeric columns

hint: use unique()

In [11]:
# Dataset overview
print("Unique categories:")
print(df.select("category").unique())

print("\nDescribe numeric columns:")
print(df.describe())

Unique categories:
shape: (5, 1)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ category    â”‚
â”‚ ---         â”‚
â”‚ str         â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Electronics â”‚
â”‚ Home        â”‚
â”‚ Fashion     â”‚
â”‚ Toys        â”‚
â”‚ Sports      â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Describe numeric columns:
shape: (9, 9)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ statistic â”† order_id  â”† user_id   â”† value     â”† â€¦ â”† city      â”† category  â”† is_active â”† has_disc â”‚
â”‚ ---       â”† ---       â”† ---       â”† ---       â”†   â”† ---       â”† ---       â”† ---       â”† ount     â”‚
â”‚ str       â”† f64       â”† f64       â”† f64       â”†   â”† str       â”† str       â”† f64       â”† ---      â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”†           â”†           â”† f64      â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ count     â”† 100000.0  â”† 100000.0  â”† 100000.0  â”† â€¦ â”† 100000    â”† 100000    â”† 100000.0  â”† 100000.0 â”‚
â”‚ null_coun â”† 0.0       â”† 0.0       â”† 0.0       â”† â€¦ â”† 0         â”† 0         â”† 0.0       â”† 0.0      â”‚
â”‚ t         â”†           â”†           â”†           â”†   â”†           â”†           â”†           â”†          â”‚
â”‚ mean      â”† 50000.5   â”† 601.32109 â”† 5001.9252 â”† â€¦ â”† null      â”† null      â”† 0.49964   â”† 0.49809  â”‚
â”‚           â”†           â”†           â”† 1         â”†   â”†           â”†           â”†           â”†          â”‚
â”‚ std       â”† 28867.657 â”† 346.55779 â”† 2883.0682 â”† â€¦ â”† null      â”† null      â”† null      â”† null     â”‚
â”‚           â”† 797       â”† 7         â”† 69        â”†   â”†           â”†           â”†           â”†          â”‚
â”‚ min       â”† 1.0       â”† 1.0       â”† 5.0       â”† â€¦ â”† Barcelona â”† Electroni â”† 0.0       â”† 0.0      â”‚
â”‚           â”†           â”†           â”†           â”†   â”†           â”† cs        â”†           â”†          â”‚
â”‚ 25%       â”† 25001.0   â”† 300.0     â”† 2501.0    â”† â€¦ â”† null      â”† null      â”† null      â”† null     â”‚
â”‚ 50%       â”† 50001.0   â”† 602.0     â”† 5001.0    â”† â€¦ â”† null      â”† null      â”† null      â”† null     â”‚
â”‚ 75%       â”† 75000.0   â”† 901.0     â”† 7493.0    â”† â€¦ â”† null      â”† null      â”† null      â”† null     â”‚
â”‚ max       â”† 100000.0  â”† 1200.0    â”† 10000.0   â”† â€¦ â”† Valencia  â”† Toys      â”† 1.0       â”† 1.0      â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

### Mini-exercise â€” Category performance

1. Average value per category
2. Sort descending
3. Top 5 categories
4. Add an insight

In [12]:
top_categories = (
    df.group_by("category")
    .agg(pl.col("value").mean().alias("avg_value"))
    .sort("avg_value", descending=True)
    .head(5)
)
print(top_categories)
# Insight: The average order value is relatively consistent across categories due to random generation.

shape: (5, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ category    â”† avg_value   â”‚
â”‚ ---         â”† ---         â”‚
â”‚ str         â”† f64         â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Toys        â”† 5025.205324 â”‚
â”‚ Electronics â”† 5021.260138 â”‚
â”‚ Sports      â”† 5009.132999 â”‚
â”‚ Home        â”† 5000.232467 â”‚
â”‚ Fashion     â”† 4954.396767 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

### Exercise â€” City performance

Compute per city:
- number of orders
- average value
- total units sold

In [13]:
result = df.group_by("city").agg([
    pl.len().alias("num_orders"),
    pl.col("value").mean().alias("avg_value"),
    pl.col("units").sum().alias("total_units")
])
print(result)

shape: (5, 4)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ city      â”† num_orders â”† avg_value   â”† total_units â”‚
â”‚ ---       â”† ---        â”† ---         â”† ---         â”‚
â”‚ str       â”† u32        â”† f64         â”† i64         â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Madrid    â”† 20036      â”† 4971.202336 â”† 60207       â”‚
â”‚ Bilbao    â”† 19819      â”† 5016.016499 â”† 59533       â”‚
â”‚ Barcelona â”† 19986      â”† 5019.281497 â”† 59772       â”‚
â”‚ Valencia  â”† 19948      â”† 4976.618458 â”† 59728       â”‚
â”‚ Sevilla   â”† 20211      â”† 5026.378457 â”† 60755       â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

### Mini-exercise â€” Active vs inactive users

Compare:
- count
- mean value
- max value

### Mini-exercise â€” Active vs inactive users

Compare active vs inactive users:

- number of orders
- average order value
- maximum order value

âš ï¸ Note:
Each aggregation must have a unique output column name.

In [14]:
# Compare active vs inactive users
compare_users = df.group_by("is_active").agg([
    pl.len().alias("num_orders"),
    pl.col("value").mean().alias("avg_order_value"),
    pl.col("value").max().alias("max_order_value")
])
print(compare_users)

shape: (2, 4)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ is_active â”† num_orders â”† avg_order_value â”† max_order_value â”‚
â”‚ ---       â”† ---        â”† ---             â”† ---             â”‚
â”‚ bool      â”† u32        â”† f64             â”† i64             â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ false     â”† 50036      â”† 5008.61094      â”† 10000           â”‚
â”‚ true      â”† 49964      â”† 4995.229845     â”† 10000           â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

## Exercise â€” Boolean logic & flags

Create a new column `is_high_value_active` that is:

- `true` if:
  - `value > 8000`
  - and `is_active = true`
- `false` otherwise

Return a sample of 10 rows showing:
- value
- is_active
- is_high_value_active

In [15]:
# Boolean logic & flags
high_value_active = df.with_columns(
    ((pl.col("value") > 8000) & (pl.col("is_active") == True)).alias("is_high_value_active")
).select(["value", "is_active", "is_high_value_active"]).head(10)
print(high_value_active)

shape: (10, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ value â”† is_active â”† is_high_value_active â”‚
â”‚ ---   â”† ---       â”† ---                  â”‚
â”‚ i64   â”† bool      â”† bool                 â”‚
â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 2572  â”† false     â”† false                â”‚
â”‚ 2300  â”† true      â”† false                â”‚
â”‚ 2759  â”† true      â”† false                â”‚
â”‚ 7714  â”† true      â”† false                â”‚
â”‚ 370   â”† false     â”† false                â”‚
â”‚ 1280  â”† false     â”† false                â”‚
â”‚ 4408  â”† false     â”† false                â”‚
â”‚ 456   â”† true      â”† false                â”‚
â”‚ 2488  â”† false     â”† false                â”‚
â”‚ 8927  â”† false     â”† false                â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

## Mini-exercise â€” Multiple filters

Find orders that:

- are from Madrid or Barcelona
- have units â‰¥ 2
- have value < 5000

Then show:
- city
- units
- value

In [16]:
# Multiple filters solution
madrid_barcelona_filtered = df.filter(
    pl.col("city").is_in(["Madrid", "Barcelona"]),
    pl.col("units") >= 2,
    pl.col("value") < 5000
).select(["city", "units", "value"])
print(madrid_barcelona_filtered.head(10))

shape: (10, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ city      â”† units â”† value â”‚
â”‚ ---       â”† ---   â”† ---   â”‚
â”‚ str       â”† i64   â”† i64   â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•¡
â”‚ Barcelona â”† 3     â”† 2572  â”‚
â”‚ Madrid    â”† 4     â”† 2300  â”‚
â”‚ Madrid    â”† 5     â”† 2651  â”‚
â”‚ Madrid    â”† 5     â”† 559   â”‚
â”‚ Madrid    â”† 4     â”† 1752  â”‚
â”‚ Madrid    â”† 5     â”† 3809  â”‚
â”‚ Madrid    â”† 2     â”† 2111  â”‚
â”‚ Barcelona â”† 5     â”† 355   â”‚
â”‚ Barcelona â”† 4     â”† 3166  â”‚
â”‚ Barcelona â”† 5     â”† 252   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

## Exercise â€” Derived metrics

Create two new columns:

- `value_per_unit` â†’ value / units
- `is_bulk_order` â†’ units â‰¥ 4

Return a sample of 10 rows.

In [17]:
# Derived metrics solution
derived_df = df.with_columns([
    (pl.col("value") / pl.col("units")).alias("value_per_unit"),
    (pl.col("units") >= 4).alias("is_bulk_order")
])
print(derived_df.select(["value", "units", "value_per_unit", "is_bulk_order"]).head(10))

shape: (10, 4)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ value â”† units â”† value_per_unit â”† is_bulk_order â”‚
â”‚ ---   â”† ---   â”† ---            â”† ---           â”‚
â”‚ i64   â”† i64   â”† f64            â”† bool          â”‚
â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 2572  â”† 3     â”† 857.333333     â”† false         â”‚
â”‚ 2300  â”† 4     â”† 575.0          â”† true          â”‚
â”‚ 2759  â”† 1     â”† 2759.0         â”† false         â”‚
â”‚ 7714  â”† 1     â”† 7714.0         â”† false         â”‚
â”‚ 370   â”† 1     â”† 370.0          â”† false         â”‚
â”‚ 1280  â”† 4     â”† 320.0          â”† true          â”‚
â”‚ 4408  â”† 1     â”† 4408.0         â”† false         â”‚
â”‚ 456   â”† 1     â”† 456.0          â”† false         â”‚
â”‚ 2488  â”† 3     â”† 829.333333     â”† false         â”‚
â”‚ 8927  â”† 4     â”† 2231.75        â”† true          â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

## Mini-exercise â€” Ranking (basic)

Rank orders within each city by value:

- highest value â†’ rank 1

Show:
- city
- value
- rank in city

In [19]:
# Ranking solution
ranked_df = df.with_columns(
    pl.col("value").rank(descending=True).over("city").alias("rank_in_city")
)
print(ranked_df.select(["city", "value", "rank_in_city"]).head(10))

shape: (10, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ city      â”† value â”† rank_in_city â”‚
â”‚ ---       â”† ---   â”† ---          â”‚
â”‚ str       â”† i64   â”† f64          â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Barcelona â”† 2572  â”† 14872.5      â”‚
â”‚ Madrid    â”† 2300  â”† 15362.5      â”‚
â”‚ Valencia  â”† 2759  â”† 14392.5      â”‚
â”‚ Valencia  â”† 7714  â”† 4440.5       â”‚
â”‚ Valencia  â”† 370   â”† 19256.0      â”‚
â”‚ Bilbao    â”† 1280  â”† 17343.0      â”‚
â”‚ Valencia  â”† 4408  â”† 11039.0      â”‚
â”‚ Madrid    â”† 456   â”† 19085.0      â”‚
â”‚ Sevilla   â”† 2488  â”† 15186.5      â”‚
â”‚ Valencia  â”† 8927  â”† 2138.5       â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

## Exercise â€” City summary table

Build a summary table per city with:

- number of orders
- total value
- average value
- maximum value

Sort results by total value descending.

Note:
Each aggregation must have a unique output column name.

In [20]:
# City summary table solution
city_summary = df.group_by("city").agg([
    pl.len().alias("num_orders"),
    pl.col("value").sum().alias("total_value"),
    pl.col("value").mean().alias("avg_value"),
    pl.col("value").max().alias("max_value")
]).sort("total_value", descending=True)
print(city_summary)

shape: (5, 5)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ city      â”† num_orders â”† total_value â”† avg_value   â”† max_value â”‚
â”‚ ---       â”† ---        â”† ---         â”† ---         â”† ---       â”‚
â”‚ str       â”† u32        â”† i64         â”† f64         â”† i64       â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Sevilla   â”† 20211      â”† 101588135   â”† 5026.378457 â”† 10000     â”‚
â”‚ Barcelona â”† 19986      â”† 100315360   â”† 5019.281497 â”† 10000     â”‚
â”‚ Madrid    â”† 20036      â”† 99603010    â”† 4971.202336 â”† 10000     â”‚
â”‚ Bilbao    â”† 19819      â”† 99412431    â”† 5016.016499 â”† 10000     â”‚
â”‚ Valencia  â”† 19948      â”† 99273585    â”† 4976.618458 â”† 10000     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜