In [1]:
# Set up environment variables
import os
import sys

# 1. Set JAVA_HOME (Open JDK 11)
os.environ['JAVA_HOME'] = '/usr/lib/jvm/java-11-openjdk-amd64'

# 2. Set SPARK_HOME explicitly to the venv installation
# This is crucial so PySpark finds its own jars
import pyspark
os.environ['SPARK_HOME'] = pyspark.__path__[0]

# 3. Add to PATH
os.environ['PATH'] = f"{os.environ['JAVA_HOME']}/bin:{os.environ['SPARK_HOME']}/bin:{os.environ.get('PATH', '')}"

# 4. Set PySpark Python configuration (ensure it uses the current venv python)
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

print(f"JAVA_HOME: {os.environ['JAVA_HOME']}")
print(f"SPARK_HOME: {os.environ['SPARK_HOME']}")
print("Environment configured.")

JAVA_HOME: /usr/lib/jvm/java-11-openjdk-amd64
SPARK_HOME: /home/dalpenyes/MÃºsica/HUGBD/state-of-the-art-tools-for-big-data/.venv/lib/python3.12/site-packages/pyspark
Environment configured.

# Exercises to Learn PySpark
This notebook contains exercises to help you learn PySpark fundamentals operations. Follow the instructions in each cell to complete the tasks.

In [2]:
# Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, avg, sum, max, min, when, lit
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType

In [3]:
# Initialize Spark Session
spark = SparkSession.builder \
    .appName("PySpark Exercises") \
    .master("local[*]") \
    .getOrCreate()

print("Spark Session Created Successfully!")
print(f"Spark Version: {spark.version}")

26/01/24 10:35:51 WARN Utils: Your hostname, solver-IdeaPad-5-14ALC05 resolves to a loopback address: 127.0.1.1; using 10.236.18.38 instead (on interface wlo1)
26/01/24 10:35:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/24 10:35:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Spark Session Created Successfully!
Spark Version: 3.5.3

Let's create a simple Spark DataFrame with some student sample data (name, age, grade, subject) and perform some basic operations.

In [4]:
# Example data:
data = [
    ("Alice", 20, 85.5, "Math"),
    ("Bob", 21, 78.0, "Math"),
    ("Charlie", 19, 92.0, "Science"),
    ("David", 22, 88.5, "Science"),
    ("Eve", 20, 95.0, "Math")
]

schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("grade", DoubleType(), True),
    StructField("subject", StringType(), True)
])

## Exercise 1: Create a sample DataFrame 
Create a Spark DataFrame with the sample data provided and display its contents.

In [6]:
df_students = spark.createDataFrame(data, schema=schema)

In [7]:
# Display the DataFrame
print("\n=== Student Data ===")
df_students.show()

=== Student Data ===

+-------+---+-----+-------+
|   name|age|grade|subject|
+-------+---+-----+-------+
|  Alice| 20| 85.5|   Math|
|    Bob| 21| 78.0|   Math|
|Charlie| 19| 92.0|Science|
|  David| 22| 88.5|Science|
|    Eve| 20| 95.0|   Math|
+-------+---+-----+-------+

## Exercise 2: Basic operations - Filtering
Filter students with grade > 85 and display the results.

In [8]:
df_students.filter(col("grade") > 85).show()

+-------+---+-----+-------+
|   name|age|grade|subject|
+-------+---+-----+-------+
|  Alice| 20| 85.5|   Math|
|Charlie| 19| 92.0|Science|
|  David| 22| 88.5|Science|
|    Eve| 20| 95.0|   Math|
+-------+---+-----+-------+

## Exercise 3: Basic operations - Aggregation I
Count students by age and display the results.

In [12]:
df_students.groupBy("age").count().show()

+---+-----+
|age|count|
+---+-----+
| 20|    2|
| 21|    1|
| 19|    1|
| 22|    1|
+---+-----+

## Exercise 4: Basic operations - Aggregation II
Calculate average grade by subject and display the results.

In [13]:
df_students.groupBy("subject").agg(avg("grade").alias("average_grade")).show()

+-------+-----------------+
|subject|    average_grade|
+-------+-----------------+
|   Math|86.16666666666667|
|Science|            90.25|
+-------+-----------------+

In [1]:
# Stop the Spark Session
spark.stop()

NameError: name 'spark' is not defined